/* 1 базовая стилизация */

/* 1.1 общие стили */

body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

.wrapper {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  cursor: pointer;
}

/* 1.2 базовая стилизация шапки */

.main-header {
  color: #000000;

  background-color: #ffffff;
}

.main-navigation ul {
  list-style: none;
}

.main-navigation a {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.current a,
.current a:hover,
.current a:focus,
.current a:active {
  color: #766357;
}

/* 1.3 базовая стилизация раздела-приветствия */

.welcome {
  color: #000000;

  background-color: #2c424b;
  background-image: url("../img/bg-welcome.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.about {
  color: #000000;
  background-color: #ffffff;
}

.about-text {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/* 1.4 базовая стилизация раздела с преимуществами */

.features {
  color: #000000;

  background-color: #ffffff;
}

.features-subtitle {
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.features-list {
  list-style: none;
  text-align: center;

  background-color: #eeeeee;
}

.features-item {
  color: #333333;
}

.features-item h3 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.features-item-main {
  color: #ffffff;

  background-color: #81b3d2;
}

.features-item-main h3 {
  font-weight: 700;
  font-size: 21px;
  color: #ffffff;
}

.more-features-list {
  list-style: none;
  color: #333333;

  background-color: #ffffff;
}

.more-features-list h4 {
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

/* 1.5 базовая стилизация раздела с поиском гостиницы */

.hotel-search {
  text-align: center;

  background-color: #ffffff;
}

.hotel-search-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.hotel-search-intro {
  line-height: 24px;
}

.hotel-search-open-button,
.hotel-search-button {
  font-size: 21px;
  line-height: 26px;
}

.hotel-search-open-button {
  background-color: #766357;
}

.hotel-search-open-button:hover,
.hotel-search-open-button:focus {
  background-color: #604e43;
}

.hotel-search-open-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.hotel-search-button {
  background-color: #81b3d2;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: #669ec0;
}

.hotel-search-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.hotel-search-popup {
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.hotel-search-form label {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotel-search-form input {
  font: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  outline: none;
}

.hotel-search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.hotel-search-form input:focus {
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.calendar-button {
  background-color: #f2f2f2;
  border: none;
}

.quantity-button {
  background-color: #f2f2f2;
  border: none;
}

/* 1.6 базовая стилизация подвала */

.main-footer {
  background-color: rgba(254, 254, 254, 0.9);
}

.footer-hashtag {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-social ul {
  list-style: none;
  text-align: center;
}

.footer-social a {
  color: #ffffff;

  background-color: #81b3d2;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.footer-copyright {
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.footer-copyright-link svg {
  width: 113px;
  height: 39px;

  fill: #231f20;
}

.footer-copyright-link:hover svg,
.footer-copyright-link:focus svg {
  fill: #81b3d2;
}

.footer-copyright-link:active svg {
  fill: #bdbbbc;
}

/* 1.7 базовая стилизация фильтра гостиниц */

.filters {
  color: #ffffff;

  background-color: #4b7eaa;
  background-image: url("../img/bg-filter.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.filters-form fieldset {
  border: none;
}

.filters-form legend,
.price-label {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filters-list {
  list-style: none;
}

.price-input input {
  font: inherit;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.filters-button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filters-button:hover,
.filters-button:focus {
  color: #000000;

  background-color: #ffffff;
}

/* 1.8 базовая стилизация каталога гостиниц */

.catalog {
  color: #333333;

  background-color: #fefefe;
}

.catalog-wrapper {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-amount {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.catalog-sort {
  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-list,
.sort-direction-list {
  list-style: none;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #81b3d2;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #81b3d2;
}

.sort-item a:active {
  color: #000000;

  border-bottom: none;
}

.sort-item-current a,
.sort-item-current a:hover,
.sort-item-current a:focus,
.sort-item-current a:active {
  color: #81b3d2;

  border-bottom: none;
}

.sort-direction-item a {
  font-size: 12px;
  line-height: 18px;
  color: #cacaca;
}

.sort-direction-item a:hover,
.sort-direction-item a:focus {
  color: #000000;
}

.sort-direction-item a:active {
  color: #81b3d2;
}

.sort-direction-item-current a,
.sort-direction-item-current a:hover,
.sort-direction-item-current a:focus,
.sort-direction-item-current a:active {
  color: #81b3d2;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  border-bottom: 1px solid #e5e5e5;
}

.catalog-item-name {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.catalog-item-name a {
  color: #000000;
}

.catalog-item-name a:hover,
.catalog-item-name a:focus {
  color: #81b3d2;
}

.catalog-item-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.details-button,
.book-button {
  font-size: 14px;
  line-height: 21px;
}

.details-button {
  background-color: #81b3d2;
}

.details-button:hover,
.details-button:focus {
  background-color: #669ec0;
}

.details-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #5496bd;
}

.book-button {
  background-color: #766357;
}

.book-button:hover,
.book-button:focus {
  background-color: #604e43;
}

.book-button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.catalog-stars {
  color: #81b3d2;
}

.catalog-rating {
  color: #666666;

  background-color: #f2f2f2;
}

/* 2 сетка */

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 2.1 сетка шапки */

.main-navigation {
  /* Временно для сетки */
  min-height: 56px;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

/* 2.2 сетка раздела-приветствия */

.welcome {
  padding-top: 75px;
  /* Временно для сетки */
  min-height: 430px;
}

.welcome-logo {
  width: 459px;
  height: 353px;
  margin: 0 auto;
  padding: 0;
}

.about {
  padding-top: 65px;
  /* Временно для сетки */
  min-height: 75px;
}

.about-text {
  width: 440px;
  margin: 0 auto;
  padding: 0;
  /* Временно для сетки */
  min-height: 48px;
}

/* 2.3 сетка раздела преимуществ */

.features-subtitle {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  /* Временно для сетки */
  min-height: 26px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 400px;
  /* Временно для сетки */
  min-height: 250px;
}

.features-item-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.features-item-main.reverse {
  flex-direction: row-reverse;
}

.features-item-main .features-image {
  width: 800px;
  margin: 0;
  padding: 0;
}

.features-item-wrapper {
  width: 400px;
  padding-top: 50px;
}

.more-features-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 330px;
}

.more-features-item {
  width: 400px;
}

/* 2.4 сетка раздела с поиском гостиницы */

.hotel-search {
  padding-top: 45px;
}

.hotel-search-question {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  /* Временно для сетки */
  min-height: 36px;
}

.hotel-search-intro {
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
  /* Временно для сетки */
  min-height: 45px;
}

.hotel-search-open-button {
  width: 568px;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 86px;
}

/* 2.5 сетка раздела карты */

.map {
  /* Временно для сетки */
  min-height: 460px;
}

/* 2.6 сетка подвала */

.main-footer {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-hashtag {
  width: 400px;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 26px;
}

.footer-social {
  width: 400px;
  /* Временно для сетки */
  min-height: 50px;
}

.footer-copyright {
  width: 400px;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 45px;
}

/* 2.7 сетка фильтра гостиниц */

.filters {
  padding-top: 25px;
  padding-right: 70px;
  padding-bottom: 20px;
  padding-left: 70px;
}

.filters-form {
  display: flex;
  /* Временно для сетки */
  min-height: 170px;
}

.filters-form fieldset {
  width: 235px;
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.filters-column {
  width: 320px;
  margin-left: auto;
}

/* 2.8 сетка каталога гостиниц */

.catalog-wrapper {
  display: flex;
  align-items: center;
  padding-top: 35px;
  padding-right: 70px;
  padding-bottom: 35px;
  padding-left: 70px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  padding-right: 70px;
  padding-left: 70px;
}

.catalog-amount {
  width: 150px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  /* Временно для сетки */
  min-height: 26px;
}

.catalog-sort {
  width: 100px;
  margin: 0;
  margin-right: 15px;
  padding: 0;
  /* Временно для сетки */
  min-height: 26px;
}

.sort-list {
  width: 700px;
  margin: 0;
  padding: 0;
  /* Временно для сетки */
  min-height: 26px;
}

.sort-direction-list {
  width: 40px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  /* Временно для сетки */
  min-height: 26px;
}

.catalog-item {
  /* Временно для сетки */
  min-height: 145px;
}

/* 3 декоративные элементы */

/* 3.1 логотип в шапке */

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
